<a href="https://colab.research.google.com/github/Jayane2004/ENG_20242/blob/main/Atividade1_atv_ExerciciodeFixa%C3%A7ao24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lista de exercícios de fixação dos conteúdos de Listas, Tuplas, Sets e Dicionários.



#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.
lista= [6,7,8,3,25]
for i in lista:
  print(i*2)

12
14
16
6
50

In [ ]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.
lista1= ['maça','banana','laranja', 'uva']
lista1.remove('banana')
lista1.insert(1,'melancia')
print(lista1)

['maça', 'melancia', 'laranja', 'uva']

In [ ]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.
lista2= [6,20,36,40,3,112]
print(f" o valor minimo : {min(lista2)}")
print(f" o valor maximo : {max(lista2)}")

 o valor minimo : 3
 o valor maximo : 112

In [ ]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
familia= ['jayane', 'jamilly', 'jailson', 'juciane']
novo= []
for i in familia:
  novo.append(len(i))
  print(novo)

[6]
[6, 7]
[6, 7, 7]
[6, 7, 7, 7]

In [ ]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.
inteiro= [33,22,67,89,88]
crescente= sorted(inteiro)
print(crescente)

[22, 33, 67, 88, 89]

In [ ]:
#6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.
numero= (1,2,3,4,5)
numero[2]='6'
print(numero)

#deu erro, pois as tuplas são imutaveis, sendo assim, elas nao trocam de valor com os valores existente na lista.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.
conjunto= (10,10,50,8)
soma= sum(conjunto)
print(soma)

78

In [ ]:
#8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.
numero= (1,2,3,4,5)
print(f"o primeiro numero : {numero[0]}")
print(f"o ultimo numero : {numero[-1]}")

o primeiro numero : 1
o ultimo numero : 5

In [ ]:
#9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.
lista= ["a", "b", "c", "d"]
tupla= tuple(lista)
print(tupla)

('a', 'b', 'c', 'd')

In [ ]:
#10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não
tupla= (2,3,5,'uva')
if 3 in tupla:
  print("o numero 3 está presente!")
else:
  print("o numero 3 não está presente!")

o numero 3 está presente!

In [ ]:
#11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
uniao= set1.union(set2)
interseção= set1.intersection(set2)
diferença= set1.difference(set2)
print(f"Em set1 e set2, teremos na uniao: {uniao}; interseção:{interseção}; diferença:{diferença}")

Em set1 e set2, teremos na uniao: {1, 2, 3, 4, 5, 6}; interseção:{3, 4}; diferença:{1, 2}

In [ ]:
#12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.
lista3= [1, 2, 2, 3, 4, 4, 5]
set= set(lista3)
print(set)

{1, 2, 3, 4, 5}

In [ ]:
#13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.
set={5, 10, 15, 20}
set.add(25)
print(set)

set.remove(15)
print(set)

{5, 10, 15, 20, 25}
{5, 10, 20, 25}

In [ ]:
#14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.
set4= {1, 2, 3, 4, 5}
if 7 in set4:
  print("o numero 7 foi encontrado!")
else:
  print("o numero 7 não foi encontrado!")

o numero 7 não foi encontrado!

In [ ]:
#15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.
meuset=set()
for numero in range(1, 14):
  meuset.add(numero)
print(meuset)

#nao entendo o motivo pelo erro, ja revis varias vezes.

TypeError: 'set' object is not callable

In [ ]:
#16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.
dicionario= {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'}
dicionario['universidade']= 'USP'
print(dicionario)

{'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

In [ ]:
#17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.
programa= {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}
for x,y in programa.items():
  print(f" Chave: {x}, Valor: {y}")

 Chave: nome, Valor: Ana
 Chave: idade, Valor: 22
 Chave: curso, Valor: Engenharia
 Chave: universidade, Valor: USP

In [ ]:
#18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.
alunos= {'jayane':[10,8,9,10],'pedro':[8,7,10,6]}
for i in alunos:
  print(i,sum(alunos[i])/len(alunos[i]))

jayane 9.25
pedro 7.75

In [ ]:
#19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.
alunos= {'jayane':[10,8,9,10],'pedro':[8,7,10,6]}
procura= input("digite o nome: ")
if procura in alunos:
  print(procura,alunos[procura])
else:
  print("aluno nao encontrado!")

digite o nome: ana
aluno nao encontrado!

In [ ]:
#20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.
produto= {'pão': 2.50, 'leite': 3.00, 'café': 4.50}
for i in produto:
  print(i)
escolha= input("qual produto?")
novopreco=float(input("qual o novo valo?"))
produto[escolha]= novopreco
print(produto)

pão
leite
café
qual produto?leite
qual o novo valo?4.00
{'pão': 2.5, 'leite': 4.0, 'café': 4.5}